
body {
    text-align: center;
    background-color: #ffffff;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    background-color: #8B4513;
    color: #FFFFFF;
    border-left: 10px solid #FFD700;
    padding: 10px;
}

img {
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    width: 700px; 
    height: auto;
    margin: 20px 0;
}


ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;          
    justify-content: center; 
    flex-wrap: wrap;        
    gap: 10px;             
}

li {
    border: 2px solid #8B4513;
    border-radius: 5px;
    background-color: #FFD700;
}

li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
