#header,#menu li a:hover {
    border-bottom: 5px solid #6599ff;
    background-color: #f90
}

#footer,#menu {
    text-align: center;
    margin: 0;
    position: fixed;
    width: 100%
}

#footer,#textMain {
    clear: both
}

#footer,#footer a,#header,#menu a,.button,ul {
    color: #fff
}

#footer a,#footer a:hover,#menu a,.button {
    text-decoration: none
}

#cookieEU,p {
    margin-bottom: 5px
}

#cookieEU,#imageLeft,#imageRight {
    padding-bottom: 5px
}

#cookieEU,#footer a:hover,#textCentral,#textOverflow {
    background-color: #fff
}

* {
    margin: 0 auto
}

body {
    background: url('../images/fondo.jpg') center center/cover no-repeat;
    font-family: 'Indie Flower',cursive;
    min-height: 100vh
}

#textCookie,h1,h2 {
    text-align: center
}

img {
    border: 5px dashed #f90;
    margin: 10px
}

#header {
    margin-top: 35px;
    text-align: center;
    border-top: 5px solid #6599ff;
    padding-top: 10px
}

#footer,#menu,.button {
    background-color: #097054
}

#menu {
    top: 0;
    border: 1px solid #f90;
    font-family: Pacifico,cursive;
    font-size: 1.2em
}

#menu li {
    display: inline;
    padding-left: 5px
}

#footer {
    border-top: 5px solid #000;
    bottom: 0
}

#footer a:hover {
    color: #443266
}

#image {
    text-align: right;
    margin-right: 60px
}

#imageLeft,#imageRight,#imageToHide,.button {
    text-align: center
}

#imageLeft {
    float: left
}

#imageRight {
    float: right
}

#imageToHide {
    float: left;
    margin-bottom: 40px
}

.button {
    border: none;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px
}

.button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)
}

#cookieEU {
    border: 2px solid red;
    box-shadow: 2px 2px 50px #000;
    position: fixed;
    top: 40%;
    left: 10%;
    right: 10%
}

#textCentral {
    padding: 15px;
    border: 5px dashed #000;
    margin: 10px 250px;
    border-radius: 30px
}

#textOverflow {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 250px;
    text-align: justify;
    border: 5px solid #000;
    padding: 20px;
    margin-right: 20px
}

@media all and (max-width: 500px) {
    #imageLeft,#imageRight {
        padding-bottom:5px
    }

    #imageLeft,#imageRight,#imageToHide {
        float: none;
        text-align: center
    }

    #imageRight {
        clear: both
    }

    #textCentral {
        margin: 0
    }

    #imageToHide {
        margin-bottom: 40px
    }

    #textOverflow {
        margin-right: 0
    }

    #header {
        margin-top: 50px
    }
}

@media all and (max-width: 300px) {
    #header {
        margin-top:100px
    }
}
